@font-face {
    font-family: Inter;
    src: url("../assets/fonts/Inter.ttf");
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url("../assets/fonts/InterItalic.ttf");
    font-style: italic;
}



@font-face {
    font-family: GoogleSansCode;
    src: url("../assets/fonts/GoogleSansCode.ttf");
    font-style: normal;
}

@font-face {
    font-family: GoogleSansCode;
    src: url("../assets/fonts/GoogleSansCodeItalic.ttf");
    font-style: italic;
}