@media (max-width:40em) {
    form.addNewEvent {
        top: 50% !important;
        bottom: unset !important;
        right: unset !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
    }

    body:has(form.addNewEvent) {
        overflow: hidden !important;
        position: relative;

        &::before {
            inset: 0;
            content: '';
            background: light-dark(rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0.75));
            position: absolute;
            backdrop-filter: blur(2px);
            z-index: 10;
        }
    }
}

form.addNewEvent {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    background: light-dark(rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0.75));
    backdrop-filter: blur(20px);
    border: 1px solid rgb(128 128 128 /0.25);
    width: min(400px, 92dvw);
    padding: 1rem;
    border-radius: 14px;
    position: fixed;
    bottom: 6rem;
    z-index: 11;
    right: var(--offset);
    /* transform: translate(0, -50%); */
}




.field-label-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: start;
    justify-content: start;
    gap: 2px;

}

.input-wrapper {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    border: 1.5px solid rgb(128 128 128 /0.25);
    border-radius: 14px;
    transition: all 50ms;
}

.input-wrapper:has(input) {
    height: 44px !important;
    min-height: 44px !important;
    max-height: 44px !important;

    input,
    textarea {
        border-radius: 14px;
    }
}

.input-label {
    font-weight: 400;
    font-size: 14px;
    padding-inline-start: 2px;
    opacity: 0.9;


    &[aria-required="true"] {
        position: relative;

        &::after {
            content: '*';
            position: absolute;
            top: 0px;
            right: -8px;
            font-size: 11px;
            color: light-dark(red, rgb(250, 93, 93));

        }
    }
}



input.event-input {
    flex: 1;
    padding: 0.5rem 0.75rem;
    border: none;
    outline: none;
    background: none;
    font-size: 1rem;
    font-family: var(--font);
}


.input-wrapper:has(input.event-input:focus),
.input-wrapper:has(textarea.event-input:focus) {
    border: 1.5px solid rgba(30, 143, 255, 0.696);
    outline: 2px solid rgba(30, 143, 255, 0.25);
}



textarea.event-input {
    resize: vertical;
    flex: 1;
    font-size: 1rem;
    padding: 0.65rem 0.75rem;
    border: none;
    outline: none;
    background: none;
    height: 150px !important;
    min-height: 150px !important;
    max-height: 500px !important;
    font-family: var(--font);

}

.add-event-wrapper {
    border: none !important;
    outline: none !important;
    background: var(--accent);
    transition: all 50ms;

    &:hover {
        background: var(--text);
    }
}

div:has(input.add-event) {
    margin-bottom: 0.5rem;
}

input.add-event {
    color: var(--bg);
    font-weight: 600;
    cursor: pointer;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--text);
}

.cta {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg);
    border: none;
    border-radius: 50%;
    z-index: 11;
    cursor: pointer;

    svg {
        /* opacity: 0.75; */
    }
}

.checkbox-container {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(128 128 128 /0.5);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 75ms;
    user-select: none;
}