@media (max-width:40em) {
    .appearanceSettings {

        label {
            width: 100%;

            input {
                width: 100%;
            }
        }
    }

    .font-styles-wrapper {
        width: 100%;
    }
}

.settingsPage {
    opacity: 1;
    width: 100%;
}

.page-header {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: var(--header-zindex);
    padding: calc(0.125 * var(--offset)) calc(1* var(--offset));
    margin-left: calc(-1 * var(--offset));
    width: calc(100% + (2 * var(--offset)));
    transition: all 350ms;
    will-change: background, backdrop-filter;
}

.appearanceSettings,
.shareSettings {
    opacity: 1;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    gap: 1.5rem;
    margin-block: 1rem 1rem;
    width: 100%;

    label {
        display: flex;
        gap: 1rem;
        width: 100%;

        span {
            font-size: 0.72rem;
            min-width: 78px;
        }
    }
}

.appearanceSettings {
    flex-direction: column;
    width: 100%;
}

.settingsItem {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;

    span {
        font-size: 0.85rem;
        display: flex;
        align-items: center;
        gap: 0.45rem;
        user-select: none;

        svg {
            width: 0.85rem;
            height: 0.85rem;
        }
    }
}

.horizontalList {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    width: min(400px, 100%);

    button {
        flex: 1;
    }
}

.shareSettings {
    display: flex;
    width: min(100%, 400px);
}