@media (max-width:40em) {
    .appearanceSettings {

        label {
            width: 100%;

            input {
                width: 100%;
            }
        }
    }

    .font-styles-wrapper {
        width: 100%;
    }
}

.settingsPage {
    opacity: 1;
}

.appearanceSettings {
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5rem;
    margin-block: 1rem 0.5rem;
    width: 100%;

    label {
        display: flex;
        gap: 1rem;
        width: 100%;

        span {
            font-size: 0.72rem;
            min-width: 78px;
        }
    }

    div {
        display: flex;
        gap: 1rem;

        span {
            font-size: 0.72rem;
        }

    }
}

.font-block {
    font-size: 0.67rem;
    background: light-dark(rgb(229, 229, 229), rgb(19, 19, 19));
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.5rem;
    border-radius: 14px;
    cursor: pointer;
    height: 40px;
    min-width: fit-content;

    &:hover,
    &:active {
        border: 1px solid rgb(128 128 128 /0.25);
    }
}

.sample-text {
    position: relative;
    font-size: 0.78rem;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;

    span {
        opacity: 0.75;

    }

    padding-left: 8px;
    font-family: var(--font);

    &::before {
        position: absolute;
        content: '';
        height: 100%;
        width: 2px;
        left: -4px;
        background: gray;
        opacity: 0.75;
    }
}

button.reset-app {
    margin-top: 2rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 0.78rem;
    font-family: var(--font);
    border-radius: 10dvw;
    border: none;
    color: var(--bg);
    background: var(--subtle);
    font-weight: bold;
    background: light-dark(red, rgb(255, 82, 82));
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        scale: 1.025;
    }
}

#confirm-deletion {
    min-height: 40px;
    border: 1.5px solid rgb(128 128 128 /0.25);
    border-radius: 14px;
    flex: 1;
    padding: 0.5rem 0.75rem;
    outline: none;
    background: none;
    font-size: 1rem;
    font-family: var(--font);
    margin-top: 0.5rem;
    width: min(100%, 400px);

    &:active,
    &:focus {
        border: 1.5px solid rgba(30, 143, 255, 0.696);
        outline: 2px solid rgba(30, 143, 255, 0.25);
    }

}