@media (max-width:40em) {
    .appearanceSettings {

        label {
            width: 100%;

            input {
                width: 100%;
            }
        }
    }

    .font-styles-wrapper {
        width: 100%;
    }
}

.settingsPage {
    opacity: 1;
    width: 100%;
}

.appearanceSettings,
.shareSettings {
    opacity: 1;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    gap: 1.5rem;
    margin-block: 1rem 1rem;
    width: 100%;

    label {
        display: flex;
        gap: 1rem;
        width: 100%;

        span {
            font-size: 0.72rem;
            min-width: 78px;
        }
    }
}

.appearanceSettings {
    flex-direction: column;
    width: 100%;
}

.settingsItem {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;

    span {
        font-size: 0.85rem;
        display: flex;
        align-items: center;
        gap: 0.45rem;

        svg {
            width: 0.85rem;
            height: 0.85rem;
        }
    }
}


.shareSettings {
    display: flex;
    width: min(100%, 400px);

    button {
        flex: 1;
        background: var(--subtle);
        border: 1px solid rgb(128 128 128 /0.25);
        color: var(--text);
        cursor: pointer;
        font-size: 0.75rem;
        transition: all 75ms;
        padding: 0.75rem 0.75rem;
        border-radius: 14px;

        &:hover {
            opacity: 0.75;
        }
    }
}