@import url(./styles/form.css);
@import url(./styles/home.css);
@import url(./styles/settings.css);
@import url(./styles/theme.css);



*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body {
  background: var(--bg);
}

body {
  font-family: var(--font);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  scroll-behavior: smooth;
}

#root {
  padding: var(--offset);
  padding-top: 0;
  /* background: var(--bg); */
  color: var(--text);
  line-height: 1.6;
  max-width: calc(100dvw);
  display: flex;
  min-height: 100dvh;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  scroll-behavior: smooth;
}

main {
  margin-bottom: auto;
  margin-inline: auto;
  width: 100%;
  max-width: 1250px;
  padding-bottom: 5.5rem;
}

button {
  user-select: none !important;

  *,
  *::after,
  *::before {
    user-select: none !important;
  }
}