/* @import url(./styles/fonts.css); */
@import url(./styles/form.css);
@import url(./styles/home.css);
@import url(./styles/settings.css);

:root {
  color-scheme: light dark;
  --offset: 2rem;
  --bg: light-dark(white, #000);
  --text: light-dark(#212121, #fafafa);
  --accent: light-dark(black, white);
  --subtle: light-dark(white, rgb(14 14 14));
  --font: "Google Sans Code"
}

@media (max-width:40em) {
  :root {
    --offset: 1.125rem;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: var(--bg);
}

body {
  font-family: var(--font);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  scroll-behavior: smooth;
}

#root {
  padding: var(--offset);
  background: var(--bg);
  color: var(--text);
  line-height: 1.6;
  max-width: calc(100dvw);
  display: flex;
  min-height: 100dvh;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  scroll-behavior: smooth;
}

main {
  margin-bottom: auto;
  margin-inline: auto;
  width: 100%;
  max-width: 1250px;
  padding-bottom: 5.5rem;
}